
<div class="about">
    <img class="about-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQykk2BGzj-pKozyY1vUpu4HG5vrkGK_06tRXNsn9KRSkhH1RrxB4_FFtt71BD8OU0k4g&usqp=CAU">
    <div class="about-content">
        <h1 class="about-heading">Here's what we offer!</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo risus nec elit porttitor, ac
                aliquet
                elit
                posuere. Pellentesque vel nisi id purus ultricies venenatis. Sed non posuere ipsum. Curabitur vestibulum
                purus eu
                sollicitudin venenatis. Ut vel ligula non libero lacinia vulputate. Mauris nec urna sit amet mauris euismod
                ullamcorper.
                Quisque in dui rutrum, consequat libero ut, fermentum justo. Sed efficitur augue et arcu auctor, et
                sollicitudin
                enim
                fermentum. Cras fringilla congue ligula, et rutrum turpis faucibus eget. Vivamus quis libero sit amet ligula
                egestas
                tempor.</p>
    
            <br>
    
            <p>In nec metus a lacus fermentum tincidunt. Phasellus gravida, ligula non maximus egestas, nisl nisi aliquam
                mauris, ac
                rutrum ipsum mauris nec elit. Pellentesque nec urna a orci consectetur aliquam. Vestibulum in arcu diam.
                Fusce in
                felis
                urna. Nam gravida purus nec justo bibendum, vitae consectetur purus faucibus. Aliquam erat volutpat. Vivamus
                vel
                nulla
                ac felis finibus accumsan. Vivamus vitae sagittis lorem. Sed euismod leo vitae eros accumsan, at aliquam
                odio
                tempor.</p><br>

                <button class="about-btn" type="button"> Read More</button>
    </div>        
</div>
