
<!-- <button type="button" (click)="onLogin()">Login</button>
<button type="button" (click)="onLogout()">Logout</button> -->
<div class="home">
    <div class="home-content">
        <h1>
            Shop with us <br>at amazing prices !
        </h1>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus tellus vitae felis convallis, non condimentum
            mauris vehicula. Nunc sit amet ante sed magna sollicitudin condimentum. Vivamus ut lectus ac arcu sodales sagittis.
            Donec id est eget lacus bibendum consequat. Phasellus a ligula non justo iaculis consectetur. Duis eu massa id ipsum
            eleifend dignissim. Sed ut purus eget libero consectetur dignissim. Morbi feugiat urna sed nisi condimentum, nec
            faucibus lacus fermentum. Quisque venenatis purus vitae risus gravida scelerisque. In hac habitasse platea dictumst.
            Nulla vitae vestibulum purus. Cras a efficitur orci. Suspendisse potenti. Donec nec velit quis nibh hendrerit
            varius.
            Vivamus sit amet odio eget felis fringilla consequat.
        </p>
        
        <button type="button" class="home-btn" (click)="onNavigateToShop()">Shop Now</button>
        <button type="button" class="home-btn" (click)="onNavigateToCart()">See Cart</button>
        
        <!-- <button type="button" class="home-btn" (click)="onSelfNavigate()">Reload Page</button> -->
    </div>
        <!-- <img class="home-img" src="https://static01.nyt.com/images/2019/05/12/nyregion/12nyamazongo1/12nyamazongo1-videoSixteenByNine3000-v2.jpg?year=2019&h=1688&w=3000&s=2f7ca5f5fadc9cbf6ef8600128e3665e36153be22caf2bb581b9e304149ee42d&k=ZQJBKqZ0VN&tw=1"> -->
</div>




